.cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 80px;
}

@media only screen and (max-width: 800px){
    .cardContainer{
        margin: 20px;
    }
}