.cardContainer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 45px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}

.textFavoritos{
    font-size: 50px;
    margin-top: -70px;
    margin-bottom: 0px;
    font-family: "vox", sans-serif;
    color: #fff;
}

.filterOrder{
    margin-top: -80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}

.order, .order2{
    padding: 5px;
    height: 40px;
    width: 40px;
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    margin-left: -50px;
    transform: translateY(25px);
    box-shadow: 0 5px 20px #d99848c6;
}

.order:hover, .order2:hover{
    background-color: #D99748;
    color: #fff;
    cursor: pointer;
}

.order svg, .order2 svg{
    transform: translateY(4px);
    height: 30px;
    width: auto;
}

.dropdown{
    width: 200px;
    height: 30px;
}
.dropdown::before{
    position: absolute;
    content: '';
    right: 20px;
    top:15px;
    z-index: 100000;
    width: 8px;
    height: 8px;
    border: 3px solid #000;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(-45deg);
    margin-top: 230px;
    margin-right: 800px;
}

.dropdown input{
    display: flex;
    font-family: "vox", sans-serif;
    margin: 15px;
    cursor: pointer;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: none;
    box-shadow: 0 5px 20px #d99848c6;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 20px;
    z-index: 1;
}

.dropdown .options{
    font-family: "vox", sans-serif;
    position: absolute;
    width: 240px;
    z-index: 1000;
    background-color: #fff;
    color: #000;
    border-radius: 10px; 
    font-size: 20px;
    overflow: hidden;
    margin-left: 16px;
    margin-top: 0px;
}

.dropdown .options div{
    text-align: left;
    padding: 10px 30px;
    cursor: pointer;
}

.dropdown .options div:hover{
    background-color: #D99748;
    color: #fff;
}

.dropdown .options svg {
    position: relative;
    top: 4px;
    height: 20px;
    width: auto;
    margin-right: 8px;
}

@media only screen and (max-width: 800px){
    
    .cardContainer{
        margin: 20px;
    }

    .textFavoritos{
        font-size: 50px;
        margin-top: -60px;
        margin-bottom: 10px;
        color: #fff;
    }
    .dropdown::before{
        margin-right: 100px;
        z-index: 100;
    }
}

