@import url('https://fonts.googleapis.com/css2?family=Get+Schwifty&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://use.typekit.net/zoz7gnu.css');

.nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
}
.logo img{
    margin-left: 60px;
    width: auto;
    height: 80px;
}

.items{
    margin-right: 50px;
    display: flex; 
    text-decoration: none;
}



.items .itemsDiv h2{
    font-size: 20px;
    font-family: "vox", sans-serif;
    margin: 20px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease;
}

.items .itemsDiv h2:hover{
    padding: 5px 10px;
    background: #fff;
    color: #D99748;
    border-radius: 15px;
}


